<div class="page-header">
  <h3>Felix</h3>
</div>
<div>
  {{#if responses}}
    <div>
      <h3>Try the following instruction</h3>
      <br>
      <h4>{{instruction}}</h4>
    </div>
  {{else}}
    <div>
      <h3>{{instruction}}</h3>
    </div>
  {{/if}}
  {{#if responses}}
    <div id="responses">
      <h3>What happened</h3>
      <ul>
        {{#each responses}}
        <li><a href={{key}}>{{answer}}</a></li>
        {{/each}}
      </ul>
    </div>
    <div>
      <button type="button" name="backButton" onclick="goBack()">Go back</button>
    </div>
    <script type="text/javascript">
      function goBack() { window.history.back(); }
    </script>
  {{/if}}
</div>
