<!-- edit page for a specific machine
should let the user travers through the tree
and add an image where they want to -->
<div class="page-header">
  <h3>Edit {{name}}</h3>
</div>
<div>
  <h3>Does the following need to be edited?</h3>
  <br>
  {{#if trace}}
    <form class="addImgNode" role="form" action="/process?form=formAddImgNode&machine={{name}}&node={{trace}}" method="POST" enctype="multipart/form-data">
  {{else}}
    <form class="addImgNode" role="form" action="/process?form=formAddImgNode&machine={{name}}&node=ROOT" method="POST" enctype="multipart/form-data">
  {{/if}}

    <div class="form-group">
      <label for="fieldAddImg" class="col-sm-2 control-label">Add Img</label>
      <div class="col-sm-4">
        <input type="file" class="form-control" id="fieldAddImg" name="img">
      </div>
    </div><!-- End of form-group -->

    {{#if trace}}
      <input type="hidden" name="trace" value='{{trace}}'>
    {{else}}
      <input type="hidden" name="trace" value="ROOT">
    {{/if}}
    <input type="hidden" name="machine" value='{{name}}'>

    <div class="form-group">
      <div class="col-sm-4">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div><!-- End of form-group -->

  </form><!-- End of form -->
</div>
<div class="treeTraverse">
  <br><br><br><br><br>
  <h3>Click below to traverse the tree</h3>
  <h4>Current Instruction: {{node.instruction}}</h4>
  <br>
  <div class="options">
    <h4>What happened</h4>
    <ul>
      {{#each node.children}}
        {{#if @root.trace}}
          <li><a href='/uploadImg/{{@root.name}}/{{@root.trace}}.{{@index}}'>{{this.key}}</a></li>
        {{else}}
          <li><a href='/uploadImg/{{@root.name}}/{{@index}}'>{{this.key}}</a></li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
